.ActionBar {
  height: 4rem;
  background-color: #039BE5;
  position: relative;
  transition: 0.2s ease;
}
.ActionBar button {
  appearance: none;
  padding: 0.2em 0.5em 0.3em;
  color: #fff;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.3s ease;
  transform: translate(0, 0);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border: none;
}
.ActionBar button:hover,
.ActionBar button:focus {
  background: rgba(255,255,255, 0.2);
}
.ActionBar button.open {
  background: #0277BD;
}

.TextList {
  position: absolute;
  display: flex;
  flex-flow: column;
  bottom: 100%;
  width: 100%;
  font-size: 12px;
  color: #E1F5FE;
  background: #039BE5;
}
.TextList__List {
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  background: #0277BD;
  overflow-y: scroll;
  height: 12rem;
  padding: 1.5rem 2rem;
}
.TextList {

}
.TextList__Heading {
  margin: 0;
  padding: 1.5rem 2rem;
}
.TextList__Item {
  display: block;
  padding: 0.5rem 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 -2rem;
}
.TextList__Item:hover{
  background-color: #0065a2;
}
