.AddContainer {
  display: block;
  position: relative;
  height: 0;
  z-index: 1;
}

.AddButton {
  opacity: 0;
  z-index: 1;
  appearance: none;
  border: 0.2em solid currentColor;
  padding: 0.2em 0.5em 0.3em;
  background: #fff;
  color: #4be;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.5rem;
  width: 1.5rem;
  transition: 0.3s ease;
  transform: translate(-50%,-50%);
  cursor: pointer;
  border-radius: 1rem;
}

.AddBackground {
  transition: 0.3s ease;
  border-top: 2px solid #eee;
  opacity: 0;
}

.AddContainer.solo .AddButton,
.AddContainer:hover .AddButton,
.AddButton:focus,
.AddContainer.solo .AddButton + .AddBackground,
.AddContainer:hover .AddButton + .AddBackground,
.AddButton:focus + .AddBackground {
  transition: 0.15s ease;
  opacity: 1;
}
