.AddContainer {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 1;
}

.AddButton {
  opacity: 0;
  z-index: 1;
  appearance: none;
  border: 0.2em solid currentColor;
  padding: 0.2em 0.2em 0.3em;
  background: var(--color-white-pure);
  color: var(--color-accent-bright);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.5rem;
  width: 1.5rem;
  transition: 0.3s ease;
  transform: translate(-50%,-50%);
  cursor: pointer;
  border-radius: 1rem;
}

.AddBackground {
  transition: 0.3s ease;
  border-top: 2px solid var(--color-white-main);
  opacity: 0;
}

.AddContainer.solo .AddButton,
.AddContainer:hover .AddButton,
.AddButton:focus,
.AddContainer.solo .AddButton + .AddBackground,
.AddContainer:hover .AddButton + .AddBackground,
.AddButton:focus + .AddBackground {
  transition: 0.15s ease;
  opacity: 1;
}
