.App {
  display: flex;
}

.Container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
}

.LayoutWrapper {
  margin: auto;
  max-width: 100%;
  padding: 2rem 0;
  flex: 1 0 auto;
}
