.App {
  display: flex;
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.Layout {
  flex: 1 1 auto;
  height: 100%;
  overflow: scroll;
}

.LayoutWrapper {
  margin: auto;
  max-width: 100%;
  padding: 2rem 0;
}

.Layout__instructions {
  margin: 2rem 0;
  font-style: italic;
  color: #888;
  line-height: 1.6rem;
}

.fullscreen .ControlPanel {
  width: 0;
}
.fullscreen .ActionBar {
  opacity: 0;
  transform: translateY(50%);
}

.fullscreen .ActionBar:hover {
  transform: none;
  opacity: 1;
}
