.App {
  display: flex;
}

.Container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}

.Layout {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.Layout.horizontal {
  writing-mode: horizontal;
}
.Layout.vertical-lr {
  writing-mode: vertical-lr;
}
.Layout.vertical-rl {
  writing-mode: vertical-rl;
}

.Layout:not(.horizontal) .AddContainer {
  width: 0;
  height: 100%;
}
.Layout:not(.horizontal) .AddButton {
  top: 0;
}
.Layout:not(.horizontal) .AddBackground {
  border-top: 0;
  border-left: 2px solid var(--color-white-main);
}

.LayoutWrapper {
  position: relative;
  margin: auto;
}

.Layout__instructions {
  margin: 2rem 0;
  font-style: italic;
  color: var(--color-gray-light);
  line-height: 1.6rem;
}

.fullscreen .ControlPanel {
  width: 0;
}
.fullscreen .ActionBar {
  opacity: 0;
  transform: translateY(50%);
}

.fullscreen .ActionBar:hover {
  transform: none;
  opacity: 1;
}
