.ControlPanel {
  background: #444;
  color: #fff;
  width: 20rem;
}

.Control {
  display: block;
  padding: 1rem 2rem;
}

.Control label {
  display: block;
  text-align: left;
}

.Control output {
  text-align: right;
}
