.ControlPanel {
  background: #33383f;
  color: #fff;
  width: 28rem;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  line-height: 1.4;
}
.ControlPanelTab{
  padding: 0 1rem 1rem;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.TabBar {
  display: flex;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
}
.TabBar button {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  display: block;
  width: 50%;
  height: 3rem;
  padding: 1rem;
}
.TabBar button.active {
  box-shadow: 0 -0.2rem 0 #039BE5 inset;
}
.Control {
  border-bottom: 1px solid #3e4247;
  display: block;
  padding: 1rem 0;
}

.Control.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.full {
  width: 100%;
}
.half {
  width: 50%;
}
.third {
  width: calc(100% / 3);
}
.quarter {
  width: 25%;
}

.Top {
  width: 100%;
  text-align: center;
  
}
.Left {
  width: 50%;
  text-align: center;

}
.Right {
  width: 50%;
  text-align: center;

}
.Bottom {
  width: 100%;
  text-align: center;
}

.sample {
  height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ControlTitle {
  display: block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  color: #ddd;
  font-weight: bold;
  margin-bottom: 0.5rem;
  user-select: none;
}

/*.Control input[type=number] {
  padding: 0.2rem 0;
  max-width: 3rem;
  background: none;
  color: white;
  border: 0;
  border-bottom: 0.15em solid #888;
}*/

.Control input[type=radio][name=alignment] {
  appearance: none;
  width: 0;
  height: 0;
  background: none;
  margin: 0;
}

.Control input[type=radio][name=alignment]:checked + svg {
  fill: #fff;
}

.hide-checkbox {
  display: inline-block;
  margin-right: 1rem;
  line-height: 1.5rem;
  height: 1.5rem;
}
.hide-checkbox__input {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  opacity: 0;
}
.hide-checkbox__input:checked + .hide-checkbox__replacement-input {
  box-shadow: 0 -0.15em 0 #039BE5 inset;
}
.font-family {
  display: flex;
  align-items: center;
}
.font-family input[type=text] {
  flex: 1 1 auto;
  display: block;
  margin: 1rem 0 1rem 1rem;
  max-width: none;
}

input[type=text],
input[type=number] {
  display: inline-block;
  max-width: 3rem;
  background-color: #3c4148;
  color: white;
  border: 1px solid #464646;
  padding: 0.5rem 0 0.6rem 0.7rem;
}

input[type=color] {
  appearance: none;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
}

input[type=color]:focus {
  outline: none;
}

input[type=color]:focus + .input--color {
  box-shadow: 0 0 0 0.2rem #fff inset;
}

.input--color {
  position: relative;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 0.5rem 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  overflow: hidden;
}
.input--color::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.Control svg {
  width: 2rem;
  height: 2rem;
  fill: #777;
}

.Control output {
  text-align: right;
}

.Control p {
  color: #919699;
  font-size: 12px;
}
