.ActionBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--color-accent);
  transition: 0.2s ease;
  & .Scroller {
    overflow: scroll;
    display: flex;
    justify-content: space-between;
  }
  & .section {
    display: flex;
  }
  & button {
    appearance: none;
    padding: 1rem;
    color: var(--color-white-pure);
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    transform: translate(0, 0);
    cursor: pointer;
    height: 4rem;
    border: none;
    &:hover,
    &:focus {
      background: rgba(255,255,255, 0.2);
    }
    &.open {
      background: var(--color-accent-dull);
    }
  }
  & svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }
}

.TextList {
  display: none;
  position: absolute;
  flex-flow: column;
  bottom: 100%;
  width: 100%;
  font-size: 12px;
  color: var(--color-white-pure);
  background: var(--color-accent);
  &.active {
    display: flex;
  }
}
.TextList__List {
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  background: var(--color-accent-dull);
  overflow-y: scroll;
  height: 12rem;
  padding: 1.5rem 2rem;
}

.TextList__Heading {
  margin: 0;
  padding: 1.5rem 2rem;
}
.TextList__Item {
  display: block;
  padding: 0.5rem 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 -2rem;
  &:hover{
    background-color: var(--color-accent-dull);
  }
}
