html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  height: 100%;
}

.cursor--lr,
.cursor--lr label {
  cursor: ew-resize !important;
  user-select: none;
}

svg {
  fill: currentColor;
}
